
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


body{
    background: #E9ECF8;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    
}
.inicio{
    width: Fixed (120px);
    height: Fixed (48px);
    left: 100px;
    top: 90px;
    gap: 40px;
    position: relative;
    font-size: 35px;
    color: #0A3871;
    text-decoration: none;
}
.inicio:hover{
    color: black;
    transition: 1s;
}
#texto-usuario{
    width: 577px;
    height: 450px;
    top: 168px;
    border: none;
    left: 240px;
    color: #0A3871;
    position: absolute;
    resize: none;
    text-align: left;
    background: none;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    font: bold ;
    border-radius: 10px;
    
    
}
#texto-usuario::placeholder{
    color: #0A3871;
}


#texto-desencriptado{
    display: none; /* Por defecto oculto */
    transition: opacity 1s ease; /* Transición suave de la opacidad durante 0.5 segundos */
    width: 390px;
    height: 600px;
    top: 68px;
    border: none;
    left: 1005px;
    color: #0A3871;
    position: absolute;
    resize: none;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    font: bold ;
    border-radius: 10px;
}
.banner{
    width: Fixed (120px);
    height: Fixed (48px);
    left: 5px;
    bottom: 50px;
    gap: 40px;
    position: relative;
}
.notificacion{
    width: Hug (229px);
    height: Hug (18px);
    top: 590px;
    left: 245px;
    gap: 8px;
    position: absolute;
    display: flex;
}
.notificacion p{
    float: right;
}
.botones{
    height: 67px;
    top: 625px;
    left: 240px;
    position: absolute;
    display: inline-block;
    
}
button {
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
    margin: 10px;
    cursor: pointer;
    border-color: #0A3871;
}
.Encriptar {
    background-color: #0A3871; /* Fondo azul */
    color: #FFFFFF; /* Texto blanco */
    border: none;
}

.Desencriptar {
    background-color: #FFFFFF; /* Fondo blanco */
    color: #0A3871; /* Texto azul */
    
}
.copiar{
    width: 100px;
    height: 40px;
    top: 15px;
    left: 900px;
    padding: 0;
    border-radius: 24px;
    border: 1px;
    gap: 8px;
    position: absolute;
    border-style: dashed;
    display: none;
    color: #0A3871;
    background-color: #FFFFFF;
}
.texto-mostrar{
    width: 400px;
    height: 684px;
    top: 40px;
    left: 1000px;
    border-radius: 32px;
    position: absolute;
    background: white;
    box-shadow: 0 2px black;
    
}
.muñeco{
    width: 336px;
    height: 304px;
    top:143px;
    left: 50px;
    position: absolute;

}
.texto-inicial{
    top:520px;
    left:3px;
    position: relative;
}
.texto-inicial h1{
    font-weight: bold;
    text-align: center;
    line-height: 28.8px;
    font-size: 1.7em;
}
.texto-inicial p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    padding: 10px;
    font-size: 10px;
}
@media screen and (max-width:480px){
    .botones{
        height: 67px;
        top: 700px;
        left: 20px;    
    }
    #texto-usuario{
        height: 500px;
        width: 370px;
        top: 150px;
        left: 20px;   
    }
    .notificacion{
        height: 20px;
        top: 680px;
        left: 30px;   
    }
    .notificacion_imagen{
        width:20px;
    }
    .texto-mostrar{
        height: 200px;
        width: 370px;
        top: 890px;
        left:15px; 
    
    }
    #texto-desencriptado{
        height: 380px;
        width: 370px;
        border-radius: 24px;
        top: 890px;
        left:15px; 
        padding-left: 5PX;
        
    }
    .copiar{
        top: 500px;
        left: 10px; 
        width: 300px;
        border-style:solid;
        
    }
    .muñeco{
        display: none;
    }
    .texto-inicial{
        top: 50px;
        left: 5px; 
    }
    .banner{
        bottom: 110px;
        left: -30px;
    }
    .inicio{
        top: 30px;
        left: 50px;
    }
}